@model UOS.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: 500;">Log In</h5>

                            <div class="form-signin">
                                @using (Html.BeginForm("Login", "Accounts"))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(login => login.Email, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(login => login.Email, new { @class = "form-control form-control-sm", @placeholder = "Username", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(login => login.Email)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(login => login.Password, new { @class = "form-check-label label" })
                                        @Html.PasswordFor(login => login.Password, new { @class = "form-control form-control-sm", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(login => login.Password)
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        @Html.CheckBoxFor(login => login.RememberMe, new { @class = "custom-control-input" })
                                        @Html.LabelFor(login => login.RememberMe, new { @class = "custom-control-label label" })

                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"><a href="outfits.html" style="color: white; text-decoration: none;">LogIn</a></button>
                                    <hr class="my-4">
                                    {
                                        <script src="~/Scripts/jquery-3.0.0.js"></script>
                                        <script src="~/Scripts/toastr.min.js"></script>
                                        if (!string.IsNullOrEmpty(ViewBag.Account))
                                        {
                                            <script type="text/javascript">toastr.error("@ViewBag.Account")</script>
                                        }
                                        if (!string.IsNullOrEmpty(ViewBag.UserError))
                                        {
                                            <script type="text/javascript">toastr.error("@ViewBag.UserError")</script>
                                        }
                                        if (!string.IsNullOrEmpty(ViewBag.RegisterError))
                                        {
                                            <script type="text/javascript">toastr.error("@ViewBag.RegisterError")</script>
                                        }
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
