@model UOS.Models.UserClasses.last
@{
    ViewBag.Title = "last";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>last Form</title>

</head>
<body class="container-fluid bg-light form-control-sm">
    @using (Html.BeginForm("last", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container bg-white " style="padding:20px;">
            <h6 class="mt-2">PENDING DETAILS</h6>
            <hr class="my-3" />
            <div class="row">

                <div class="form-group col-md-4 col-sm-6">

                    @Html.LabelFor(reg => reg.board, new { @class = "form-check-label label" })
                    @Html.DropDownListFor(reg => reg.board, new SelectList(Model.obj_intr_Board, "B_ID", "Board_Name"), new { @class = "form-control-sm" })

                </div>
                <div class="form-group col-md-2 col-sm-6">
                    @Html.LabelFor(reg => reg.discipline, new { @class = "form-check-label label" })
                    @Html.DropDownListFor(reg => reg.discipline, new SelectList(Model.obj_intr_Course, "C_ID", "Course_Name"), new { @class = "form-control-sm" })
                </div>
                <div class="form-group col-md-2 col-sm-6">
                    @Html.LabelFor(reg => reg.no_students, new { @class = "form-check-label label" })
                    @Html.TextBoxFor(reg => reg.no_students, new { @class = "form-control form-control-sm" })
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    @Html.LabelFor(reg => reg.b_NOC, new { @class = "form-check-label label" })
                    <input type="file" name="ImageFile" />
                </div>
            </div>
            <div class="row">    
                <div class="form-group col-md-12 col-sm-6">
                    <button class="btn btn-primary btn-rounded mt-4 float-right btn-sm"> Add </button>
                </div>
            </div>
            <hr class="my-3" />
            @*<div class="row table-responsive table-responsive-sm m-auto">
        <table id="Boardstable" class="w-100 table table-hover nowrap table-condensed table-sm">
            <thead class="bg-primary ">
                <tr class="label text-white" style="height:40px;">
                    <th class="align-middle">Board Name</th>
                    <th class="align-middle">Discipline</th>
                    <th class="align-middle">No.of seats</th>
                    @*<th class="align-middle">Remarks</th>
                    <th class="align-middle">Update</th>
                    <th class="align-middle">Remove</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <hr class="my-3" />*@
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-rounded  mt-2 m-2 float-right btn-sm" href="../UserAccount/FinishApplication"> Finish </a>
                    <a class="btn btn-primary btn-rounded  mt-2 m-2 float-right btn-sm" href="../UserAccount/Affiliation"> Previous </a>
                </div>

            </div>




        </div>


    }


    @{
        if (!string.IsNullOrEmpty(ViewBag.DDImageNull))
        {
            <script type="text/javascript">toastr.error("@ViewBag.DDImageNull")</script>
        }
        if (TempData["Success"] != null)
        {
            <script type="text/javascript">toastr.success("@TempData["Success"].ToString()")</script>
        }
        if (TempData["Exception"] != null)
        {
            <script type="text/javascript">toastr.error("@TempData["Exception"].ToString()")</script>
        }
    }

    <script>
        $(document).ready(function () {

            $("#Boardstable").on("click", "#btn_delete", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-info-id");
                $.ajax({
                    url: "../UserAccount/RemoveBoardsDetail?id=" + id,
                    method: "Get",
                    success: function (data) {
                        table.ajax.reload();
                        toastr.success(data.responseText);
                    }
                });
            });
            //var table = $("#Boardstable").DataTable({
            //    ajax: {
            //        url: "../UserAccount/OtherDecpDetailDataTableViewer",
            //        dataSrc: ""
            //    },
            //    columns: [
            //        {
            //            data: "Board_Name"
            //        },
            //        {
            //            data: "Decpline_Name"
            //        },
            //        {
            //            data: "No_OF_Seat"
            //        },
            //        //{
            //        //    data: "Remarks"
            //        //},
            //        //{
            //        //    render: function (data, type, row) {
            //        //        return '<a class="btn bg-warning text-white btn-rounded btn-sm py-0 px-2 vsmall" href="../UserAccount/SportsDetailUpdate?id=' + row.Affi_ins_other_decplines_id + '" data-info-id="' + row.Sport_Id + '" id="btn_update">Update</a>'
            //        //    }
            //        //},
            //        {
            //            render: function (data, type, row) {
                            
            //                return '<button class="btn bg-delete text-white btn-rounded btn-sm py-0 px-2 vsmall" data-info-id="' + row.Affi_ins_other_decplines_id + '" id="btn_delete">Remove</button>'
            //            }
            //        }
            //    ]
            //});
        });
    </script>
</body>

</html>

