@model UOS.Models.UserClasses.RoomDetail
@{
    ViewBag.Title = "RoomDetailUpdate";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RoomDetailUpdate Form</title>
</head>
<body class=" form-control-sm">
    @using (Html.BeginForm("RoomDetail", "UserAccount"))
    {

        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h3 class="card-title text-center" style="font-weight:600;">Room Detail Update</h3>
                            <hr class="my-4" />
                            <div class="form-signin">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(reg => reg.building_id, new { @class = "form-check-label label " })
                                        @Html.DropDownListFor(m => m.building_id, new SelectList(Model.BuildingDetail, "Id", "building_name"), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(reg => reg.room_type, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(reg => reg.room_type, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(reg => reg.room_type)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(reg => reg.length, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(reg => reg.length, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(reg => reg.length)
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(reg => reg.width, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(reg => reg.width, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(reg => reg.width)
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(reg => reg.quantity, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(reg => reg.quantity, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(reg => reg.quantity)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(reg => reg.remarks, new { @class = "form-check-label label" })
                                        @Html.TextBoxFor(reg => reg.remarks, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(reg => reg.remarks)
                                    </div>
                                   

                                </div>
                                @Html.HiddenFor(reg => reg.Id)


                                <button class="btn btn-primary btn-block text-uppercase mt-4">Update</button>
                                <hr class="my-4" />

                                <a class="d-block text-center mt-2" href="../UserAccount/RoomDetail">Back</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    }
</body>

</html>

