<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>University Of Sargodha</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")

    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/umd/_popper.min.js"></script>
</head>
<body class="m-0 p-0 bg-ash">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-1 px-4">
        <a class="navbar-brand text-white p-0 m-0" href="~/UserDashboard/Dashboard"><img src="~/Images/logo1.png" class="logo p-0 m-0" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        @Html.Partial("Navbar_reg")
    </nav>
    <div class="container-fluid body-content" >
        
        @RenderBody()
    </div>
    @*@Html.Partial("Footer1")*@
    @RenderSection("scripts", required: false)


</body>
</html>

